<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js"></script>
    <script>
        document.querySelector('form').addEventListener('submit', function(e) {
            const hours = document.querySelector('input[name="hours_per_day"]');
                if (hours.value < 1 || hours.value > 24) {
                    alert('Please enter valid study hours (1-24)');
                    e.preventDefault();
            }
        });
</script>
</head>
<body>
    <h1><b>Welcome to AI Study Planner</b></h1>
    <div class="container">
    <form method="post">
        <form method="post">
            <div id="left">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="age">Age:</label>
    <input type="number" id="age" name="age"><br><br>
    <label for="subjects">Subjects:</label>
    <input type="text" id="subjects" name="subjects"><br><br>
    <label for="hours_per_day">Study Hours/Day:</label>
    <input type="number" id="hours_per_day" name="hours_per_day"><br><br>
    </div>
    <div id="right">
    <label for="time_slots">Preferred Time Slots:</label>
    <input type="text" id="time_slots" name="time_slots"><br><br>
    <label for="short_term_goal">Short Term Goal:</label>
    <input type="text" id="short_term_goal" name="short_term_goal"><br><br>
    <label for="long_term_goal">Long Term Goal:</label>
    <input type="text" id="long_term_goal" name="long_term_goal"><br><br>
    <label for="study_style">Study Style:</label>
    <select id="study_style" name="study_style">
        <option value="Visual">Visual</option>
        <option value="Auditory">Auditory</option>
        <option value="Kinesthetic">Kinesthetic</option>
    </select><br><br>
    </div>    

        <button type="submit">Generate Study Plan</button>
    </form>
    </div>
    <a href="{{ url_for('login') }}">Logout</a>
    <footer class="footer">
        <p>© 2025 Arpit Vishwakarma. All Rights Reserved.</p>
    </footer>
</body>
</html>
