<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js"></script>
</head>
<body>
    <h2><b>Login</b></h2>
    <form method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>
        <button type="submit">Login</button>
    </form>
    <footer class="footer">
        <p>© 2025 Arpit Vishwakarma. All Rights Reserved.</p>
    </footer>
</body>
</html>
